
.btn.btn-ghost.btn-ghost-white {
    background: 0 0;
    border: 2px solid #fff;
    color: #fff;
}
.box{
    box-shadow: -2px 3px 20px 0px grey;
}
.down-arrow{
    margin-bottom: -49px;
}
.carousel-inner {
    background: -webkit-linear-gradient(left, #000, #e0ac20);
    background: -o-linear-gradient(left, #000, blue);
    background: -moz-linear-gradient(left, #000, blue);
    background: linear-gradient(to left, #000000c9, #dda928);
}

.accord-paster{
    background: -webkit-linear-gradient(left, #000, #e0ac20);
    background: -o-linear-gradient(left, #000, blue);
    background: -moz-linear-gradient(left, #000, blue);
    background: linear-gradient(to left, #000000c9, #d1b367);
}
.border-98{
    border: 1px solid#989898;
}
.ouset-text{
    background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0.06), rgba(209, 179, 103, 0.83));
    background: -o-linear-gradient(left, #000, blue);
    background: -moz-linear-gradient(left, #000, blue);
    background: linear-gradient(to left, rgba(0, 0, 0, 0.06), rgba(209, 179, 103, 0.83));
    position: absolute;
    top: 0;
    width: 65%;
    height: 100%;
}

#client {
    padding-bottom: 100px;
    background: #f0f0f0;
}
.title-bar {
    padding: 50px 0;
}
.title-bar h1 {
    color: #41464b;
    text-align: center;
    font-weight: 700;
    margin: 20px auto 10px auto;
}
.client-cont {
    /* width: 400px; */
    padding: 30px;
    background: #fff;
    margin: 0 auto;
    border-bottom: 5px solid #dcab2e;
}
.title-bar .heading-border {
    width: 60px;
    height: 10px;
    background-color: #dcab2e;
    margin: 0 auto 20px auto;
}
.title-bar p {
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 700px;
}
.btn-70{
    width: 70px;
    border-radius: 4px;
}
.carousel-inner {
    background-image: url("assets/img/header/news.PNG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: center;
}
.copule{
    background: rgba(0, 0, 0, 0.5);
}
.banner-text{
    padding: 100px 0px;
}
@media screen and (max-width: 1060px) {
    .banner-text{
    padding: 70px 0px;
    } 
}
@media screen and (max-width: 720px) {
    .banner-text{
    padding: 40px 0px;
    } 
}
@media screen and (max-width: 560px) {
    .banner-text{
    padding: 10px 0px;
    }}