<div class="carousel-inner" style="z-index: -999;">
  <div class="carousel-item active">
      <div class="mask1 flex-center">
          <div class="copule">
              <div class="row align-items-center">
                  <div class="col text-light text-center">
                      <div class="banner-text">
                     
                      <h1>Affiliated Bodies</h1>
                      <p>Success isn’t achieved without the help and support of others.<br>
                       Proudly affiliated to the below organizations.<br> 
                      </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div id="client" class="client">
    <div class="container">
      <br>
      <!--affiliate 1-->
      <div class="row">
        <div class="col-md-4 col-sm-4">
            <span class="col-12 down-arrow"> 
                <img alt="icon-down-arrow.png" src="assets/img/affiliated-bodies/gorak.jpg">
              </span>
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="client-cont">
              <p class="proboots bg-d btn-70 text-light">
                  <a href="http://www.rak.ae/en/web/rakportal/home"  target="_blank" class="btn text-light">Government Of Ras Al Khaimah</a>
                </p>
            
            <p>The Emirate of Ras Al Khaimah is a cradle for the ancient civilization. It has an impressive archaeological heritage and rich cultural history. National Museum of Ras Al Khaimah has many monuments dating back thousands of years ago. The archeological finds show that the ancient history of Ras Al Khaimah passed through many important periods.</p>
            
          </div>
        </div>
        
      </div>

      <div><br><br></div>

      <!--Affiliate 2-->
      <div class="row">
          <div class="col-md-4 col-sm-4">
              <span class="col-12 down-arrow"> 
                  <img alt="icon-down-arrow.png" src="assets/img/affiliated-bodies/eoi.jpg">
                </span>
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="client-cont">
                <p class="proboots bg-d btn-70 text-light">
                    <a href="http://www.indembassyuae.gov.in/" target="_blank" class="btn text-light">Embassy Of India, UAE</a>
                  </p>
              
              <p>Embassy of India in Abu Dhabi is headed by Ambassador and has following eight Wings: (i) Administration Wing (ii) Consular Wing (iii) Economic & Commerce Wing (iv) Political Wing (v) Press & Information Wing (vi) Education Wing (vii) Cultural Wing (viii) Community Affairs Wing Each Wing is headed by a Counsellor/First Secretary/Second Secretary rank officer.</p>
              
            </div>
          </div>
          
        </div>

        <div><br><br></div>
        <!--Affiliated 3-->
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <span class="col-12 down-arrow"> 
                    <img alt="icon-down-arrow.png" src="assets/img/affiliated-bodies/ficci.jpg">
                  </span>
            </div>
            <div class="col-md-8 col-sm-8">
              <div class="client-cont">
                  <p class="proboots bg-d btn-70 text-light">
                      <a href="http://www.ficci.com/" target="_blank" class="btn text-light">Federation Of Indian Chambers Of Commerce & Industry</a>
                    </p>
                
                <p>Established in 1927, FICCI is the largest and oldest apex business organisation in India. Its history is closely interwoven with India’s struggle for independence, its industrialization, and its emergence as one of the most rapidly growing global economies. FICCI has contributed to this historical process by encouraging debate, articulating the private sector’s views and influencing policy.</p>
                
              </div>
            </div>
            
          </div>

          <div><br><br></div>

          <!--Affiliated 4-->
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <span class="col-12 down-arrow"> 
                      <img alt="icon-down-arrow.png" src="assets/img/affiliated-bodies/ibpdubai.jpg">
                    </span>
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="client-cont">
                    <p class="proboots bg-d btn-70 text-light">
                        <a href="http://www.ibpcdubai.com/" target="_blank" class="btn text-light">Indian Business & Professional Council, Dubai</a>
                      </p>
                  
                  <p>Indian Business and Professional Council (IBPC), Dubai is the only recognised representative organisation of Indian Business and Professionals in Dubai. IBPC, Dubai was formed in the year 2003 after the unification of the three Indian business organisations in Dubai namely the Indian Business Council (IBC), Overseas Indians Economic Forum (OIEF) and Business & Professional Club (BPC).</p>
                  
                </div>
              </div>
              
            </div>
  
            <div><br><br></div>

            
          <!--Affiliated 5-->
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <span class="col-12 down-arrow"> 
                      <img alt="icon-down-arrow.png" src="assets/img/affiliated-bodies/cii.jpg">
                    </span>
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="client-cont">
                    <p class="proboots bg-d btn-70 text-light">
                        <a href="http://www.cii.in/" target="_blank" class="btn text-light">Confederation Of Indian Industry</a>
                      </p>
                  
                  <p>The Confederation of Indian Industry (CII) works to create and sustain an environment conducive to the growth of industry in India, partnering industry and government alike through advisory and consultative processes.Since 1992, through rapid expansion and consolidation, CII has grown to be the most visible business association in India.</p>
                  
                </div>
              </div>
              
            </div>
  
            <div><br><br></div>

            <!--Affiliated 6-->
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <span class="col-12 down-arrow"> 
                      <img alt="icon-down-arrow.png" src="assets/img/affiliated-bodies/cgi.jpg">
                    </span>
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="client-cont">
                    <p class="proboots bg-d btn-70 text-light">
                        <a href="http://www.ibpcrakuae.com/www.cgidubai.com/" target="_blank" class="btn text-light">Consulate General of India (CGI)</a>
                      </p>
                  
                  <p>The Consulate General of India (CGI), Dubai, is located in Al Hamaria Diplomatic Enclave, Dubai. Its consular jurisdiction extends to Dubai and the five Northern Emirates of Sharjah, Ajman, Umm-Al-Quwain, Ras Al-Khaima and Fujairah.</p>
                  
                </div>
              </div>
              
            </div>
  
            <div><br><br></div>

            <!--Affiliated 7-->
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <span class="col-12 down-arrow"> 
                      <img alt="icon-down-arrow.png" src="assets/img/affiliated-bodies/ibpsharjah.jpg">
                    </span>
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="client-cont">
                    <p class="proboots bg-d btn-70 text-light">
                        <a href="http://www.ibpcrakuae.com/www.ibpcshj.com" target="_blank" class="btn text-light">Indian Business & Professional Council, Sharjah
                          </a>
                      </p>
                  
                  <p>Indian Business & Professional Council (IBPC) established in 2001 is a non-profit body of Indian businessmen and professionals based in Sharjah in particular and U.A.E in general. Council operates under the umbrella of Sharjah Chamber of Commerce & Industries (SCCI).</p>
                  
                </div>
              </div>
              
            </div>
  
            <div><br><br></div>


            
            <!--Affiliated 8-->
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <span class="col-12 down-arrow"> 
                      <img alt="icon-down-arrow.png" src="assets/img/affiliated-bodies/rakchamber.jpg">
                    </span>
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="client-cont">
                    <p class="proboots bg-d btn-70 text-light">
                        <a href="http://www.rakchamber.ae/" target="_blank" class="btn text-light">Ras Al Khaimah Chamber Of Commerce & Industry
                          </a>
                      </p>
                  
                  <p>The Chamber of Commerce and Industry of Ras Al Khaimah of the oldest Chambers of Commerce in the state, is the second Chamber of Commerce launches in the UAE where he issued late - God willing - His Highness Sheikh Saqr bin Mohammed Al Qasimi decree High founded Room on October 22, 1967, to be the cornerstone of the organization optimal for commercial affairs in the emirate, has chaired the Board of Directors room at the time, Sheikh Abdul Malik bin Kayed Al Qasimi, also served as Vice-President Ali Abdullah Misbah al-Naimi.</p>
                  
                </div>
              </div>
              
            </div>
  
            <div><br><br></div>


            <!--Affiliated 9-->
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <span class="col-12 down-arrow"> 
                      <img alt="icon-down-arrow.png" src="assets/img/affiliated-bodies/ministry-of-commerce.jpg">
                    </span>
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="client-cont">
                    <p class="proboots bg-d btn-70 text-light">
                        <a href="http://www.commerce.nic.in/" target="_blank" class="btn text-light">Ministry of Commerce, Govt of India
                          </a>
                      </p>
                  
                  <p>The mandate of the Department of Commerce is regulation, development and promotion of India’s international trade and commerce through formulation of appropriate international trade & commercial policy and implementation of the various provisions thereof. The basic role of the Department is to facilitate the creation of an enabling environment and infrastructure for accelerated growth of international trade.</p>
                  
                </div>
              </div>
              
            </div>
  
            <div><br><br></div>

            <!--Affiliated 10-->
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <span class="col-12 down-arrow"> 
                        <img alt="icon-down-arrow.png" src="assets/img/affiliated-bodies/assocham.jpg">
                      </span>
                </div>
                <div class="col-md-8 col-sm-8">
                  <div class="client-cont">
                      <p class="proboots bg-d btn-70 text-light">
                          <a href="http://www.assocham.org/"  target="_blank" class="btn text-light">ASSOCHAM
                            </a>
                        </p>
                    
                    <p>ASSOCHAM initiated its endeavour of value creation for Indian industry in 1920. Having in its fold more than 300 Chambers and Trade Associations, and serving more than 4 lakh members from all over India. It has witnessed upswings as well as upheavals of Indian Economy, and contributed significantly by playing a catalytic role in shaping up the Trade, Commerce and Industrial environment of the country.</p>
                    
                  </div>
                </div>
                
              </div>
    
              <div><br><br></div>

              
            <!--Affiliated 11-->
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <span class="col-12 down-arrow"> 
                        <img alt="icon-down-arrow.png" src="assets/img/affiliated-bodies/fieo.jpg">
                      </span>
                </div>
                <div class="col-md-8 col-sm-8">
                  <div class="client-cont">
                      <p class="proboots bg-d btn-70 text-light">
                          <a href="http://www.fieo.org/"  target="_blank" class="btn text-light">FIEO
                            </a>
                        </p>
                    
                    <p>The Federation of Indian Export Organisations represents the Indian entrepreneurs spirit of enterprise in the global market. Known popularly as "FIEO", this apex body of Indian export promotion organizations was set up jointly by the Ministry of Commerce, Government of India and private trade and industry in the year 1965.</p>
                    
                  </div>
                </div>
                
              </div>
    
              <div><br><br></div>

              <!--Affiliate ends-->

              
              
    </div>        
  </div>

  


  