/* SINGLE POST */

/* /deep/ .ngx-gallery-thumbnail.ngx-gallery-active {  
    border-radius: 50%;
}
/deep/.ngx-gallery-thumbnail.ngx-gallery-clickable{
    border-radius: 50%;
} */

.abc {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}

.slider-wrapper {
  width: 50%;
}

span.ng5-slider-span.ng5-slider-bubble.ng5-slider-limit.ng5-slider-ceil {
  left: 100% !important;
}

.page {
  display: none;
}

.page-active {
  display: block;
}

.page-link {
  color: #dcab2e;
  border: 1px solid #dcab2e;
}

.grid-item {
  display: inline-block;
  position: relative;
  padding-bottom: 3rem;
  padding-right: 2rem;
}

.text-holder {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text-holder2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 22%;
  left: 40%;
  transform: translate(-22%, -22%);
  -ms-transform: translate(-22%, -22%);
  text-align: center;
}

.desvanecer {
  ​opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.grid-item:hover .desvanecer {
  opacity: 0.3;
}

.grid-item:hover .text-holder {
  opacity: 1;
}

.grid-item:hover .text-holder2 {
  opacity: 1;
}

.carousel-item img {
  width: 100%;
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
  color: #fff;
  background-color: #b38c2c;
}

.close {
  color: #fdf9f9 !important;
  line-height: 0 !important;
  font-size: 5rem !important;
}

.grid {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: block;
}

#content .grid-item img {
  display: block;
  width: 100%;
  height: auto;
  max-height: none;
  max-width: none;
}

/* .carousel-inner {
  background: -webkit-linear-gradient(left, #000, #e0ac20);
  background: -o-linear-gradient(left, #000, blue);
  background: -moz-linear-gradient(left, #000, blue);
  background: linear-gradient(to left, #000000c9, #dda928);
} */

.carousel-zoom {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 80%;
}

.zoom-prev {
  left: -65px;
}

.zoom-next {
  right: -75px;
}

.eventheaderSection {
  padding-top: 20px;
}
.carousel-inner{
  background-image: url("assets/img/header/gallery.PNG");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; 
}
.copule{
  background: rgba(0, 0, 0, 0.5);
}
.banner-text{
  padding: 100px 0px;
}
@media screen and (max-width: 1060px) {
  .banner-text{
  padding: 70px 0px;
  } 
}
@media screen and (max-width: 720px) {
  .banner-text{
  padding: 40px 0px;
  } 
}
@media screen and (max-width: 560px) {
  .banner-text{
  padding: 10px 0px;
  }}
