<!--====================================================
                         HEADER
======================================================-->
<header>
    <!-- Top Navbar  -->
    <!-- <div class="top-menubar">
        <div class="topmenu">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <ul class="list-inline top-contacts">
                            <li>
                                <i class="fa fa-envelope"></i> Email: <a href="mailto:info@ibpcrakuae.com">info@ibpcrakuae.com </a>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> Hotline: 050-3743314
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <ul class="list-inline top-data">
                            <li><a href="https://www.facebook.com/ibpcrakuae" target="_empty"><i
                    class="fa top-social fa-facebook"></i></a></li>
                            <li><a href="https://mobile.twitter.com/IbpcRAK" target="_empty"><i
                    class="fa top-social fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/b/118124792820390035980/118124792820390035980/" target="_empty"><i class="fa top-social fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-toggle="affix" style="z-index: 999999; padding:0px">
        <div class="container">
            <a class="navbar-brand smooth-scroll" routerLink="/home" style="padding-top:0px;padding-bottom:0px;margin-bottom: -8px;">
                <img src="assets/img/logos/ibpclogo.jpeg" alt="Brand Logo" style="height: 55px; width: 55px;">
                <a routerLink="/home"><label class="theme-gold" style="font-size:20px;">IBPC RAK UAE</label></a>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="/home">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle smooth-scroll" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                        <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" routerLink="/about-us">About Us</a>
                            <a class="dropdown-item" routerLink="/chamber-registration">Chamber Registration</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle smooth-scroll" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Management</a>
                        <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" routerLink="/governing-council">Governing Council</a>
                            <a class="dropdown-item" routerLink="/affiliated-bodies">Affiliated Bodies</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="/membership">Membership</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle smooth-scroll" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
                        <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" routerLink="/news">News</a>
                            <a class="dropdown-item" routerLink="/gallery">Gallery</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>