<!--
author: STCServiciosDiaz
author URL: https://STCServiciosDiaz.com
License: Creative Commons Luis Diaz
License URL: https://STCServiciosDiaz
-->

<!--====================================================
                      Carousel
======================================================-->

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="mask1 flex-center">
        <!-- <div class="copule container"> -->
          <!-- <div class="row align-items-center"> -->
            <!-- <div class="col text-light">
              <h4>Indian Business <br>
                Professional Council</h4>
              <p>A non-profit body of Indian businessmen and professionals based
                in Ras Al Khaimah in particular and U.A.E in general.</p>
              <a href="#" class="text-light"></a>
            </div> -->
            <!-- <div class="text-light">
              <img src="assets/img/slider/slider2.png" class="mx-auto" alt="slide">
            </div> -->
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
    <div class="carousel-item">
      <div class="mask2 flex-center">
        <!-- <div class="copule container"> -->
          <!-- <div class="row align-items-center"> -->
            <!-- <div class="col text-light">
              <h4><strong>Aims and <br>
                  Objectives</strong></h4>
              <p><strong>To promote trade, investment, tourism, social interactions<br>
                  between India and UAE</strong></p>
              <a href="#" class="text-light"></a>
            </div> -->
            <!-- <div class="col-md-5 col-12 order-md-2 order-1">
                <img src="https://i.imgur.com/duWgXRs.png" class="mx-auto" alt="slide">
              </div> -->
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
    <div class="carousel-item">
      <div class="mask4 flex-center">
        <!-- <div class="copule container"> -->
          <!-- <div class="row align-items-center"> -->
            <!-- <div class="col text-light">
              <h3>Aims and <br>
                Objectives </h3>
              <p>To facilitate Indian Business & Professional community <br>
                in whatever way possible to promote trade and commerce.</p>
              <a href="#" class="text-light"></a>
            </div> -->
            <!-- <div class="col-md-5 col-12 order-md-2 order-1">
                <img src="https://i.imgur.com/duWgXRs.png" class="mx-auto" alt="slide">
              </div> -->
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
    <div class="carousel-item">
      <div class="mask3 flex-center">
        <!-- <div class="copule container">
          <div class="row align-items-center">
            <div class="col text-light">
              <h4>Aims and <br>
                Objectives</h4>
              <p>Our objective is to give benefit and in the interest of the members of the council.</p>
              <a href="#" class="text-light"></a>
            </div> -->
            <!-- <div class="col-md-5 col-12 order-md-2 order-1">
                <img src="https://i.imgur.com/DGkR4OQ.png" class="mx-auto" alt="slide">
              </div> -->
          <!-- </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="carousel-control">
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <br>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


  <!-- Left and right controls -->


<!--====================================================
                      STORY
======================================================-->
<section id="story">
  <!-- <div class="container-fluid py-5">
    <div class="row">
      <div class="col-md-6">
        <div class="story-himg">
          <img src="assets/img/team/presidentpic.jpg" class="img-fluid mx-auto d-flex rounded-circle" alt="">
          <br>
          <h2 style="text-align: center; font-weight: 100">Mr. L. K. Verma</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="story-desc">
          <div class="since py-3">
            <h1 class="wow fadeInUp color-d">Our Success President Story</h1>
            <div class="heading-border"></div>
          </div>
          <h3>How to grow world with Us</h3>
          <div class="heading-border-light pt-3"></div>
          <p>Everyone defines success differently – as much as there are people, there are different opinions. Number
            one in our priority list is the success of our students, alumni and their employers. We work hard in the
            name of the success of our alumni – being among the best and holding the high employment rate. Many desktop
            publishing packages and web page editors now use Lorem Ipsum.. </p>
          <p>You can find some thoughts on success from our students and alumni here – every story is unique, but this
            is what success is. Everybody sees it differently. Many desktop publishing packages and web page editors now
            use Lorem Ipsum.</p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="overlay-thought"></div>
  <div class="wrapper py-5">
    <div class="container">
      <div class="row text-light">
        <div class="col three_quarter first">
          <h6 class="nospace">Indian Business & Professional Council (IBPCRAK) established in 2012,</h6>
          <p class="nospace">to facilitate Indian Business & Professional community in whatever way possible to promote
            trade and commerce.</p>
        </div>
        <!-- <div class="col one_quarter">
            <a class="btn medium bg-b text-dark" href="#">More Information »</a>
          </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="container py-5">
    <div class="row">
      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="story-descb">
          <img src="assets/img/profile-icon.jpg" width="50%" class="img-fluid" alt="...">
          <h3>Profile</h3>
          <p>Explore what we do and how we help you grow.</p>
          <a routerLink="/about-us" class="color-d"><i class="fa fa-arrow-circle-o-right"></i> More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="story-descb">
          <img src="assets/img/handshake.jpg" width="50%" class=" img-fluid" alt="...">
          <h3>Membership</h3>
          <p>See what memberships we offer at IBPC.</p>
          <a routerLink="/membership" class="color-d"><i class="fa fa-arrow-circle-o-right"></i> More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="story-descb">
          <img src="assets/img/gallery.jpg" width="50%" class=" img-fluid" alt="...">
          <h3>Gallery</h3>
          <p>Get the glimpse of all the events happening at IBPC. </p>
          <a routerLink="/gallery" class="color-d"><i class="fa fa-arrow-circle-o-right"></i> More</a>
        </div>
      </div>
    </div>
  </div> -->
</section>
