<div class="carousel-inner" style="z-index: -999;">
    <div class="carousel-item active">
        <div class="mask1 flex-center">
            <div class="copule">
                <div class="row align-items-center">
                    <div class="col text-light text-center">
                        <div class="banner-text">
                            <h1>Chamber Registration</h1>
                            <p>Membership Certificate <br>
                            Member Since 19 Nov 2013
                            </p>
                            <div class="banner-inner">
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container">
    <h3 style="margin:50px 0">Membership Certificate</h3>
        <div class="bgBodder">
            <img src="assets/img/chamber_registration/chamber-reg.jpg" width="100%" height="auto">
        </div>
   </div>
