
<!-- First Section -->
<div class="carousel-inner" >
    <div class="carousel-item active">
        <div class="mask1 flex-center">
            <div class="copule">
                <div class="row align-items-center">
                    <div class="col text-light text-center">
                      <div class="banner-text">
                        <h4>Who are we?</h4>
                        <div class="banner-inner">
                        <p>
                            Indian Business & Professional Council (IBPCRAK) established in 2012 is a non-profit body of   <br>

                          Indian businessmen and professionals based in Ras Al Khaimah in particular and U.A.E in general.
                          <br>
                          IBPC RAK is having patronage from  Indian embassy in Abu Dhabi and 
                          
                          <br>
                          Consulate General of India, Dubai. IBPCRAK facilitates Indian Business & Professional community, 
                          <br>
                          in whatever ways possible to augment trade and commerce between the nations.
                        </p></div>

                        <div class="banner-button">
                        <p class="proboots">
                          <a routerLink="/contact" class="btn btn-ghost btn-ghost-white">Contact Now</a>
                        </p>
                      </div></div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="pt-5">
      <div class="container accord-membership">
        <div class="text-membership text-center">
          <h3>Our ultimate aim</h3>
          <h4 class="">
              Representing Indian Business & Professional community in the emirate before the Government and non Governmental authorities to address individual problem or problems of a trade or to solve general problems of trade and industries of India & U.A.E.
          </h4>
        </div>

        
        <div class="container-fluid py-5">
          <div class="row">
            <div class="col-md-6">
              <div class="story-himg">
                <img src="assets/img/team/presidentpic.jpg" class="img-fluid mx-auto d-flex rounded-circle" alt="">
                <br>
                <h2 style="text-align: center; font-weight: 100">Mr. L. K. Verma</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="story-desc">
                <div class="since py-3">
                  <h1 class="wow fadeInUp color-d">Our Success President Story</h1>
                  <div class="heading-border"></div>
                </div>
                <h3>How to grow world with Us</h3>
                <div class="heading-border-light pt-3"></div>
                <p>Everyone defines success differently – as much as there are people, there are different opinions. Number
                  one in our priority list is the success of our students, alumni and their employers. We work hard in the
                  name of the success of our alumni – being among the best and holding the high employment rate. Many desktop
                  publishing packages and web page editors now use Lorem Ipsum.. </p>
                <p>You can find some thoughts on success from our students and alumni here – every story is unique, but this
                  is what success is. Everybody sees it differently. Many desktop publishing packages and web page editors now
                  use Lorem Ipsum.</p>
                <!-- <div class="title-but pt-4">
                    <button class="btn btn-general btn-green bg-d text-light" role="button">Read More</button>
                  </div> -->
              </div>
            </div>
          </div>
        </div>




        <!-- For Objectives-->
        <!--row 1-->
        <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="client-cont">
                <h5>What is our strength?</h5>
                <i class="fa fa-quote-left"></i>
                <p>
                  
                  IBPCRAK draws its strength from its members and in turn provides a platform for airing their views on matters of mutual business interests. It also guides the members to resolve their difficulties by pooling the collective experience and connectivity.

                </p>
                <p class="proboots bg-d btn-70 text-light">
                  <!-- <a href="#" class="btn text-light">Ready</a> -->
                </p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="client-cont">
                
                <h5>What do we represent?</h5>
                  <i class="fa fa-quote-left"></i>
                  <p>We represent Indian Business & Professional Community in the emirates before the Government and non Governmental authorities to address individual problem or problems of a trade or to solve general problems of trade and industries of India & U.A.E</p>
                <!-- <p class="proboots bg-d btn-70 ">
                  <a href="#" class="btn text-light">Ready</a>
                </p> -->
              </div>
            </div>
          </div>

          <!--row 2-->
          <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="client-cont">
                  <h5>What do we promote?</h5>
                  <i class="fa fa-quote-left"></i>
                  <p>
                    
                      To promote trade, investment, tourism, social interactions between India and UAE particularly in RAK and UAE in general by with government authorities, trade and commerce bodies in India and UAE.
  
                  </p>
                  <p class="proboots bg-d btn-70 text-light">
                    <!-- <a href="#" class="btn text-light">Ready</a> -->
                  </p>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="client-cont">
                    <h5>How we help you grow?</h5>
                    <i class="fa fa-quote-left"></i>
                    <p>By arranging meetings, seminars, workshops to develop trade and commerce for the benefits of its members in particular and trade and Industry in general.</p>
                  <!-- <p class="proboots bg-d btn-70 ">
                    <a href="#" class="btn text-light">Ready</a>
                  </p> -->
                </div>
              </div>
            </div>

            <!--row 3-->
            <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="client-cont">
                      <h5>What do we facilitate?</h5>
                      <i class="fa fa-quote-left"></i>
                      <p>We facilitate Indian Business & Professional community in whatever way possible to promote trade and commerce</p>
                    <p class="proboots bg-d btn-70 text-light">
                      <!-- <a href="#" class="btn text-light">Ready</a> -->
                    </p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="client-cont">
                      <h5>What makes us non-profit organization?</h5>
                      <i class="fa fa-quote-left"></i>
                      <p>Our objective is to give benefit and in the interest of the members of the council.
                        This makes us nonprofit entity.</p>
                    <!-- <p class="proboots bg-d btn-70 ">
                      <a href="#" class="btn text-light">Ready</a>
                    </p> -->
                  </div>
                </div>
              </div>


        <!--End Objectives-->


        
      <div><br><br></div>


