<div class="carousel-inner" style="z-index: -999;">
  <div class="carousel-item active">
      <div class="mask1 flex-center">
          <div class="copule">
              <div class="row align-items-center">
                  <div class="col text-light text-center">
                      <div class="banner-text">
                      <h1>Membership</h1>
                      <p>
                          Become our member.IBPC provides network opportunity for promoting the business <br>
                           and profession through interaction with other members
                          <!-- General Membership<br>
                          Honorary Membership<br>
                          Corporate Membership -->
                      </p>
                     
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="pt-5">
  <div class="container accord-membership">
    <div class="text-membership text-center">
    </div>
    <div class="row py-5">
      <div class="col-sm-4  text-center">
        <div class="box py-3 mb-4 px-2">
          <span class="fa fa-user" style="font-size: 48px;"></span>
          <p class="statiname">
              General Membership
          </p>
          <p>
            General Membership shall be open to well established and distinguished businessmen and senior professionals who are Indian Citizens or persons of Indian Origin holding a valid residence or employment in the Ras Al Khaimah. The membership will be by invitation, and all membership applications will be approved by the Membership Screening Committee and Governing Board. 
          </p>
        </div>
      </div>
      <div class="col-sm-4  text-center">
        <div class="box py-3 mb-4 px-2">
        <span class="fa fa-certificate" style="font-size: 48px;"></span>
          <p class="statiname">
              Honorary Membership
          </p>
          <p>
            Honorary Membership shall be open to persons who are distinguished members of the business and professional community and in the opinion of the Governing Council have a genuine and serious interest in the aims and objectives of the Council and a close association or relationship with the Indian Business or professional Community in the UAE. Honorary Members shall not be required to pay any Membership fee and shall not be qualified to be the officers or members of the Governing body and shall not have any voting rights and their presence shall not be counted for quorum in any general meeting. 
          </p>
        </div>
      </div>
      <div class="col-sm-4  text-center">
        <div class="box py-3 mb-4 px-2"> 
          <span class="fa fa-briefcase" style="font-size: 48px;"></span>
          <p class="statiname">
              Corporate Membership
          </p>
          <p>
            Corporate Membership shall be open to companies established in RAK whose ownership and/or senior management and control is held by Indian Citizens or persons of Indian origin. Each Corporate Member shall be entitled to appoint two members of its senior management to be its duly appointed representatives in all matters related to the Council. The appointment of such representatives or their replacement(s) shall be subject to the prior approval of the Governing Board. 
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="accord-paster py-5">
    <div class="container">
      <div>
        <div class="px-1 mr-3 text-light">
          Membership Benefits
        </div>
        <div class="card card-body">
          <ul>
            <li>
              IBPC assists its members in interacting with the government departments in RAK in the smooth conduct of their business and profession.
            </li>
            <li>
              IBPC provides a platform for Indian Businessmen & Professionals to collectively address issues of mutual interest and concern.
            </li>
            <li>
              IBPC provides network opportunity for promoting the business and profession through interaction with other members. Invitation to all IBPC events like seminar, symposium, business networking, and so on.
            </li>
            <li>
              Interaction with visiting trade delegations.
            </li>
          </ul>
        </div>
      </div>
      
      <div class="py-5">
        <div class="px-1 mr-3 text-light">
          Membership subscription fees
        </div>
        <div class="card card-body">
          Membership will be against the onetime payment of an of amount AED 1,000/- 
          for General Membership and AED 2,000/- for Corporate Membership and shall be
          considered as a fee which will remain in the IBPC Bank Account. In addition 
          to this, individual members shall pay an additional amount of AED 200/- 
          and corporate members shall pay AED 500/- as annual fee to meet costs of IBPC
          RAK meetings etc. The fee structure shall be reviewed by the 
          Governing Council and revised as may be considered appropriate as per by-laws
          of the Council.
        </div>
      </div>
      <!-- <div class="collapse" id="collapseExample">
          <div class="card card-body">
              Membership will be against the onetime payment of an of amount AED 1,000/- 
              for General Membership and AED 2,000/- for Corporate Membership and shall be
              considered as a fee which will remain in the IBPC Bank Account. In addition 
              to this, individual members shall pay an additional amount of AED 200/- 
              and corporate members shall pay AED 500/- as annual fee to meet costs of IBPC
              RAK meetings etc. The fee structure shall be reviewed by the 
              Governing Council and revised as may be considered appropriate as per by-laws
              of the Council.
          </div>
      </div> -->
    </div>
  </div>

  <div id="client" class="client">
    <div class="container">
      <div class="row title-bar">
        <div class="col-md-12">
          <h1 class="wow ">Membership Forms</h1>
          <div class="heading-border" style="width: 300px;"></div>
          <p style="font-size: 20px;">Two Types of membership forms are available.Corporate membership and Invidual membership.Choose the appropriate type  and fill the required details. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="client-cont">
            <h5>Individual Membership Form</h5>
            <!-- <i class="fa fa-quote-left"></i> -->
            <p>
                Please download the form by clicking proceed button below.
              <br/> Fill in the required information and send the form to <br/>
              info@ibpcrakuae.com

            </p>

            <p class="proboots bg-d btn-70 text-light">
                <a  class="btn text-light" href="assets/pdf/IBPCRAK.MEMBERSHIP FORM.pdf" download>Proceed
                </a>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="client-cont">
            <h5>Corporate Membership Form</h5>
            <!-- <i class="fa fa-quote-left"></i> -->
            <p>
                Please download the form by clicking proceed button below.
              <br/> Fill in the required information and send the form to <br/>
              info@ibpcrakuae.com
            </p>
            <p class="proboots bg-d btn-70 ">
                <a  class="btn text-light" href="assets/pdf/IBPCRAK.MEMBERSHIP FORM.pdf" download>Proceed
                </a>
              <!-- <a routerLink="/corporate-form" class="btn text-light">Proceed</a> -->
            </p>
          </div>
        </div>
      </div>
    </div>        
  </div>

</div>