<div class="carousel-inner" style="z-index: -999;">
    <div class="carousel-item active">
        <div class="mask1 flex-center">
            <div class="copule container">
                <div class="row align-items-center py-5">
                    <div class="col text-light text-center">
                        <!-- <h4>Present your <br>
                        awesome product</h4> -->
                        <h1>Corporate Membership Form</h1>
                        <!-- <p>
                          Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                          necessitatibus praesentium voluptatum deleniti atque corrupti.
                        </p> -->
                        <!-- <p class="proboots">
                          <a href="#" class="btn btn-ghost btn-ghost-white">Viraj easy</a>
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name">

        <label for="lname">Organization</label>
        <input type="text" id="lname" name="lastname" placeholder="Your organization name">
    
        <!-- <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select> -->
    
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something" style="height:200px"></textarea>
    
        <input type="submit" value="Submit">
      </form>
  </div>