<footer>
  <div id="footer-s1" class="footer-s1">
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 text-light">
            <div>
              <img src="assets/img/logos/ibpclogo.jpeg" alt="Brand Logo" style="height: 35px; width: 35px;">
            </div>
            <a routerLink="/home" class="footer-logo text-light">IBPCRAK UAE</a>
            <p class="text-light text-left">
              Stay in the know. Receive our weekly <br>newsletter and stay on top of what's available on IBPC.
            </p>
          </div>
          <div class="col-md-2 col-sm-2 ">
            <div class="heading-footer">
              <h2>Profile</h2>
            </div>
            <div>
                <ul class="list-unstyled link-list">
                    <li><a routerLink="/home">Home</a>&nbsp; <i class="fa fa-angle-right"></i></li>
                    <li><a routerLink="/about-us">About Us</a>&nbsp; <i class="fa fa-angle-right"></i></li>
                    <li><a routerLink="/chamber-registration">Chamber Registration</a>&nbsp; <i class="fa fa-angle-right"></i>
                    </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2 col-sm-2 ">
            <div class="heading-footer">
              <h2>Membership</h2>
            </div>
            <div>
                <ul class="list-unstyled link-list">
                    <li><a routerLink="/governing-council">Governing Council</a>&nbsp; <i class="fa fa-angle-right"></i></li>
                    <li><a routerLink="/affiliated-bodies">Affiliated Bodies</a>&nbsp; <i class="fa fa-angle-right"></i></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="heading-footer">
              <h2>News</h2>
            </div>
            <div>
                <ul class="list-unstyled link-list">
                    <li><a routerLink="/gallery">Gallery</a>&nbsp; <i class="fa fa-angle-right"></i></li>
                    <li><a routerLink="/contact">Contact Us</a>&nbsp; <i class="fa fa-angle-right"></i></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="heading-footer">
              <h2>Get In Touch</h2>
            </div>
            <address class="address-details-f">
              IBPC, P.O. Box 16077. <br>
              Ras Al Khaimah,UAE <br>
              <i class="fa fa-phone"></i>&nbsp;President: 050-374 3314 <br>
              <i class="fa fa-phone"></i>&nbsp;Sec.General : 055-219 3599 <br>
              <i class="fa fa-phone"></i>&nbsp;Office Co-ordinator: 050-372 7693 <br>
              <i class="fa fa-envelope"></i>&nbsp;Email: <a href="mailto:info@ibpcrakuae.com"
                class="">info@ibpcrakuae.com</a>
            </address>
            <ul class="list-inline social-icon-f top-data">
              <li><a href="https://www.facebook.com/ibpcrakuae" target="_empty"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://mobile.twitter.com/IbpcRAK" target="_empty"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=386925385&amp;trk=nav_responsive_tab_profile"
                  target="_empty"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
