/**
 * Fat Footer
 -----------------------------*/

#footer-bottom {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 0;
}

#footer-copyrights p {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #bbb;
    text-align: center;
}

.footer-s1 .footer {
    padding: 70px 0;
    background: #252525;
}

.footer-s1 .footer .comp-desc-f p {
    margin-top: 10px;
    color: #ccc;
    font-size: 15px;
}

.footer-s1 .heading-footer h2 {
    color: #eee;
    font-size: 18px;
    text-transform: none;
}

.footer-s1 .footer .link-list li {
    padding: 3px 0px;
    border-bottom: solid 1px #333;
}

.footer-s1 .footer .link-list li a {
    color: #ccc;
    font-size: 15px;
    margin-bottom: 3px;
    display: inline-block;
}

.footer-s1 .heading-footer {
    text-align: left;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 2px;
}

.footer-s1 .footer .thumb-list>li a {
    color: #777;
    display: block;
    padding-bottom: 8px;
}

.footer a i.fa {
  font-size: 24px;
  color: #b1b1b1;
  padding: 0px 10px;
}

.footer a i.fa:hover {
  color: #42b3e5;
}

address.address-details-f, address.address-details-f a {
    color: #ddd;
    font-size: 15px;
}

.social-icon-f li {
    float: left;
}

.top-social {
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    border-radius: 50%;
    background: #fff;
}

.fa {
  color: #dcab2e;
}